#board{
   display: grid;
   grid-template-columns: repeat(4, minmax(0, 1fr));
   grid-template-rows: repeat(4, minmax(0, 1fr));
   background-color: grey;
   border-radius: 40px;
   padding: 25px;
   position: relative;
   z-index: 1;
   position: relative;
   width: 300px;
   height: 300px;
}

.letter {
   font-style: normal;
   font-weight: 100;
   color: black;
   font-family: 'Times New Roman', Times, serif;
   font-size: 100%;
   align-items: center;
   background: white;
   margin: 7Px;
   text-align: center;
   border-radius: 15px;
   border: 1px solid rgb(254, 254, 254);
   box-shadow: -2px 2px 2px black;
   border: rgb(233, 198, 140) 3px;
   border-style: groove;
   overflow: hidden;
}

#save-score-button {
   display: none;
}

#play-again-button {
   display: none;
}
