@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&family=McLaren&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&family=McLaren&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* General Styles */

body {
    background-color: #1b1835;
    color: white;
    min-height: 100vh;
    font-family: "McLaren", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.label,
th {
    color: #febe38;
}

h1,
h2,
nav {
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fb2271;
}

.text-link {
    color: #febe38;
    font-weight: bold;
    text-decoration: underline;
}

/*Navbar Styles */

.navbar {
    background-color: #febe38;
    color: #1b1835;
}

.navbar a {
    color: #1b1835;
}

.navbar-toggler-icon {
    background-image: url(
        "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(27, 24, 53)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"
        );
}

.navbar-brand {
    color: #1b1835;
}

/* Scrollbar styles */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(197, 127, 127);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #fb2271;
}

/* Button Styles */

.edit-button {
    border-radius: 5px;
    background-color: rgb(65, 129, 65);
    color: white;
    padding: 2px 10px;
    font-size: 120%;
    border: double white;
}

.edit-button:hover {
    background-color: rgb(34, 80, 34);
    color: rgba(255, 255, 255, 0.676);
}

.delete-button {
    border-radius: 5px;
    background-color: rgb(163, 80, 80);
    color: white;
    padding: 2px 10px;
    font-size: 120%;
    border: double white;
}

.delete-button:hover {
    background-color: rgb(116, 52, 52);
    color: rgba(255, 255, 255, 0.676);

}

.yellow-button {
    border-radius: 10px;
    border: solid #fb2271 5px;
    background-color: #febe38;
    padding: 10px 5px;
    font-size: 130%;
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #9c1849;
}

.yellow-button:hover {
    background-color: #b38522;
}

/* Django Messages */

.django-messages-success {
    width: 100%;
    color: white;
    background-color: rgb(81, 164, 81);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.django-messages-error {
    width: 100%;
    color: white;
    background-color: rgb(116, 52, 52);
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* home page styles */

.instructions {
    font-size: 130%;
}

.example {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.example img {
    width:100vw;
    height:auto;
}
.scoring {
    background-color: #352870;
    color: #febe38;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 0px 10px 40px;
    border: solid white 5px;
}

.scoring li::marker {
    color: #fb2271;
}

/* Game Styles */

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    background-color: #352870;
    border-radius: 40px;
    padding: 20px;
    position: relative;
    z-index: 1;
    width: 300px;
    height: 300px;
    border: solid white;
}

#game h2 {
    color: #fb2271;
}

#score-container {
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #352870;
    color: #febe38;
    font-size: 200%;
    margin: 5px;
    padding: 0px 5px;
    width: 260px;
    border-radius: 10px;
    ;
}

.info {
    color: white;
}

.letter {
    display: flex;
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 150%;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: #1b1835;
    margin: 3Px;
    border-radius: 15px;
    border: 1px solid white;
    border-style: groove;
    overflow: hidden;
}

.letter-values {
    display: flex;
    justify-content: center;
}

#save-score-button {
    display: none;
}

#play-again-button {
    display: none;
}

#guess {
    display: flex;
    justify-content: center;
    background-color: white;
    color: #1b1835;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 150%;
}

#word-list{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.word-list-table {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.word-sublist {
    width: 50%;
    height: 100%;
    background-color: #febe38;
    margin: 0px 10px;
    border-radius: 10px;
    color: #1b1835;
    overflow: hidden;

}

.word-sublist-scroll {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    max-height: 75%;
    color: #fb2271;
}

/* Message Board Styles */

.modal-content{
    background-color: #febe38;
    color:#d61e62;
}

button.btn-close{
    color:#d61e62;
}
.page-link {
    color: #fb2271;
    border-radius: 5px;
    background-color: #febe38;
    margin-top: 5px;
}

.extended-table {
    display: none;
}

.right-table {
    text-align: center;
}

.post {
    background-color: #352870;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 150%;
}

.message-board {
    width: 100%;
}

.username {
    font-size: 200%;
}

.message-board tr {
    height: 50px;
}

.modal-dialog {
    color: #1b1835;
}

/* High Score Page Styles */

.centered {
    text-align: center;
}

#line {
    height: 2px;
    background-color: #fb2271;
    opacity: 1;
}

td .high-score-user {
    text-decoration: none;
    color: white;
}

td .high-score-user:hover {
    text-decoration: underline;
    color: #b38522;
}

.ranking {
    color: #fb2271;
}

.high-score {
    font-size: 200%;
}

#high-score-table {
    height: 80vh;
    font-size: 130%;
    border-radius: 10px;
    margin-top: 20px;
}

#high-score-table table {
    width: 100%;
}

#high-score-table img {
    margin-left: -2px;
}

#high-score-table table td {
    border-top: solid #febe38;

}

#high-score-table table td {
    padding-bottom: 5px;
    padding-top: 5px;
}

.high-score-img {
    display: flex;
    height: 50px;
    width: 50px;
    overflow: hidden;
    border: 2px solid rgb(197, 127, 127);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

/* Profile Page Styles */

.update-profile-page {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

#display-name {
    text-align: center;
    background-color: #1b1835;
    border-radius: 10px;
    margin-top: 15px;
    color:#fb2271;
}

.account-img {
    width: 218px;
    height: 218px;
    border: solid white 10px;
    overflow: hidden;
}

.profile-img {
    width: 218px;
    height: 218px;
    border: double #febe38 10px;
    background-color: #1b1835;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 100px;
}

.profile-img>img {
    margin-top: -1px;
    margin-left: -1px;
}

.account-img>img {
    margin-top: -1px;
    margin-left: -1px;
}

#about-me {
    margin: 20px;
    border-radius: 10px;
    color: rgb(197, 127, 127);
    text-align: center;
}

.view-user-profile h2 {
    color: rgb(197, 127, 127)
}

#about-me-text {
    min-height: 150px;
    border-radius: 10px;
    color: white;
    overflow-wrap: break-word;
    max-width: 500px;
}

#profile-details {
    border: double #febe38 7px;
    border-radius: 20px;
    height: 160px;
    background-color: #1b1835;
    margin: 0px 10px;
    box-shadow: rgba(255, 255, 255, 0.282) 0px 0px 100px;
}

#picture-div {
    display: flex;
    justify-content: center;
}

#profile-details>div {
    height: 40px;
    align-content: center;

}

@media screen and (min-width:768px) {

    /* Home Page Styles */

    .example img {
        width:auto;
        height:auto;
    }

    /* Profile Page Styles */

    #about-me-text {
        max-width: 500px;
    }

    #display-name {
        text-align: left;
    }

    #profile-details {
        display: flex;
        align-content: space-between;
        flex-direction: column;
        margin-top: 100px;
    }

    #profile-details h2 {
        margin-bottom: 30px;
    }

    #details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #about-me {
        text-align: left;
    }

    /* Game Styles */

    #board {
        width: 450px;
        height: 450px;
    }

    .letter {
        font-style: normal;
        font-weight: 100;
        font-size: 300%;
        font-weight: bold;
        align-items: center;
        padding:25px;
        margin: 7Px;
        text-align: center;
        border-radius: 15px;
        border-style: groove;
        overflow: hidden;
        font-family: "Rubik", sans-serif;
        font-weight: normal;
        font-style: normal;
    }

    #guess {
        background-color: white;
        color: #1b1835;
        width: 400px;
        height: 50px;
        border-radius: 10px;
        font-size: 200%;
    }

}

@media screen and (min-width:992px) {

    /* Message Board Styles */

    .extended-table {
        display: revert;
    }

    .right-table {
        text-align: center;
    }

    /* Profile Page Styles */
    
    #details {
        font-size: 130%;
    }

    #about-me-text {
        max-width: 600px;
    }
}