{% extends "base.html" %}
{% load static %}
{% block content %}


<h1>Message Board</h1>
<div class="container">
  <table class="message-board">
    <th>Post Title</th>
    <th>Author</th>
    <th>Replies</th>
    <th>Last Reply</th>
  {% for post in all_posts_list %}
  <tr>
  <td><a href="{% url 'view_post' post.slug %}" class="post-title">{{ post.title }}</a></td>
  <td><a><a href="{% url 'view_user_profile' post.author.profile.profile_url %}">{{ post.author }}</a></td>
</tr>
  {% endfor %}
</table>
</div>
<a href="{% url 'new_post' %}">make a new post</a>
{% endblock %}


