{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container">
<h1>replying to:</h1>
<h2>Title: <span class="info">{{ post.title }}</span></h2>
    <h2>Author: <span class="info">{{ post.author.profile.display_name }}</span></h2>
    <p class="post">
        {{ post.text }}
    </p>
<hr>
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">reply</legend>
        {{ new_reply|crispy }}
    </fieldset>
    <div class ="form-group">
        <button class="yellow-button" type="submit">Sumbit</button>
    </div>
 </form>
</div>
{% endblock %}