{% extends "base.html" %}
{% load static %}
{% block content %}


<h1>Post</h1>
author:{{ post.author }}<br>
title:{{ post.title }}<br>
message:{{ post.text }}
{% if user.is_authenticated and post.author == user %}
<a href="{% url 'edit_post' post.slug %}">edit post</a>
<button class="btn btn-delete" slug="{{ post.slug }}" id="post-btn-delete">Delete</button>
<div class="modal fade" id="post-delete-modal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your post?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="post-delete-confirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reply-delete-modal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete reply?</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your reply?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="reply-delete-confirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
<br>
{% endif %}
<a href="{% url 'new_reply' post.slug %}">reply</a>

{% for reply in post.replies.all %}
<hr>
{{ reply.text }}
{% if user.is_authenticated and reply.author == user %}
<button class=" btn reply-btn-delete" slug="{{ post.slug }}" reply-id="{{ reply.id }}">Delete</button>
<a class="btn btn-edit" href="{% url 'edit_reply' post.slug reply.id %}">Edit</a>
{% endif %}
{% endfor %}
{% endblock %}

{% block extras %}
<script src="{% static 'js/message_board.js' %}"></script>
{% endblock %}