{% extends "base.html" %}
{% load static %}

<!-- View Post html starts here -->
{% block content %}
<div class="container">
    <!-- Original Post -->
    <h1>Title: <span class="info">{{ post.title }}</span></h1>
    <h2>Author: <span class="info">{{ post.author.profile.display_name }}</span></h2>
    <p class="post">
        {{ post.text }}
    </p>
    on: {{ post.created_on}}
    <!-- buttons -->
    {% if user.is_authenticated and post.author == user %}
    <a class="edit-button" href="{% url 'edit_post' post.slug %}">Edit</a>
    <button class="delete-button" slug="{{ post.slug }}" id="post-btn-delete">Delete</button>
    {% endif %}
    <br>
    <br>
    {% if user.is_authenticated %}
    <a class="yellow-button" href="{% url 'new_reply' post.slug %}">Reply</a>
    {% else %}
    <a class="text-link" href="{% url 'account_login' %}">Login</a> to post a reply.
    {% endif %}
    <!-- modal -->
    <div class="modal fade" id="post-delete-modal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your post?
                </div>
                <div class="modal-footer">
                    <button type="button" class="edit-button" data-dismiss="modal">Cancel</button>
                    <a id="post-delete-confirm" href="#" class="delete-button">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->
    <div class="modal fade" id="reply-delete-modal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete reply?</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your reply?
                </div>
                <div class="modal-footer">
                    <button type="button" class="edit-button" data-dismiss="modal">Cancel</button>
                    <a id="reply-delete-confirm" href="#" class="delete-button">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- Post Replies-->
    {% for reply in post.replies.all %}
    <hr>
    <h3>{{ reply.author }} wrote:</h3>
    <p>
        {{ reply.text }}
    </p>
    on: {{ reply.created_on }}
    {% if user.is_authenticated and reply.author == user %}
    <a class="edit-button" href="{% url 'edit_reply' post.slug reply.id %}">Edit</a>
    <button class="delete-button reply-btn-delete" slug="{{ post.slug }}" reply-id="{{ reply.id }}">Delete</button>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block extras %}
<script src="{% static 'js/view_post.js' %}"></script>
{% endblock %}