{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- profile.html content starts here -->
<div class="container view-user-profile">

    <div class="row">
        <div class="col">
            <h1 id="display-name">{{ user_view.display_name }}'s Profile</h1>
        </div>
        <div class="col">
            {% if user.is_authenticated and user_view.user == user %}
            <a class="edit-button" href="{% url 'update_profile' %}">Edit</a>
            {% endif %}
        </div>
        <hr id="line">
    </div>
    <div class="row">
        <div class="col-md-4" id="picture-div">
            {% if "placeholder" in user_view.profile_picture.url %}
            <img class="rounded-circle profile-img" src="{% static 'images/default.png' %}"
                alt="profile placeholder image">
            {% else %}
            <div class=" rounded-circle profile-img">
                {% load cloudinary %}
                {% cloudinary user_view.profile_picture quality='auto' width=200 height=200 crop='fill' gravity="face" radius=100 title="profile picture" %}
            </div>
            {% endif %}
        </div>
        <div class="col" id="about-me">
            <h2>About me:</h2>
            <p id="about-me-text"> {{ user_view.about_me }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col" id="profile-details">
            <h2>Details:</h2>
            <div id="details">
                <div>
                    <span class="label">High Score:</span> {{ user_view.high_score }}
                </div>
                <div>
                    <span class="label">Joined: </span>{{user_view.user.date_joined }}
                </div>
                <div>
                    <span class="label">Last Login:</span> {{ user_view.user.last_login }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}