{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="column" id="high-score-table">
            <table>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="label"> Score</th>
                </tr>
                {% for users in user_list %}
                <tr>
                    <td class="ranking label"></td>
                    <td>
                        {% if "placeholder" in users.profile.profile_picture.url %}
                        <img class="rounded-circle high-score-img" src="{% static 'images/default.png' %}">
                        {% else %}
                        <div class="rounded-circle high-score-img">
                            {% load cloudinary %}
                            {% cloudinary users.profile.profile_picture quality='auto' width=50 height=50 crop='fill' gravity="face" radius=100 %}
                        </div>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'view_user_profile' users.profile.profile_url %}" class="high-score-user">{{ users.profile.display_name }}</a>
                    </td>
                    <td>
                        {{ users.profile.high_score }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<script src="{% static 'js/highscores.js' %}"></script>
{% endblock %}